---
title: Home
---

<img src="/images/profile-photo-02-2018-200x300.jpg" style="float: right; margin: 5px;" alt="" width="200" height="300" />

My name is Marko Dimjašević (<img style="cursor: pointer; align:
middle;" src="/images/speakerlink.png" alt="speakerlink" width="11"
height="11" margin="0"
onClick="document.getElementById('prononciation').play(); return
false;" /> /mʌrkɔˑ ˌdɪmˈjʌʃɛvɪtʃ/) and I am a computer scientist. I
obtained my PhD from the <a href="http://www.cs.utah.edu/">University
of Utah</a>, USA. In general, I am interested in theorem proving,
software correctness, functional programming and type
theory. <audio id="prononciation"><source src="/media/prononciation-marko-dimjasevic.ogg"
type="audio/ogg" /></audio>

<p>
For more information about me, see my <a href="/resume.pdf">resume</a>
(last updated on May 5, 2021). <a rel="me" href="https://mamot.fr/@mdimjasevic"></a>
</p>

<h2>Recent posts</h2>
$partial("templates/post-list.html")$

<p>You can find more posts in the <a href="/archive.html">archives</a>.</p>
