<article>
  <section class="header">
    Posted on $date$
      $if(author)$
    by $author$
    $endif$
  </section>
  <section>
    $body$
  </section>
  <section class="footer">
    $if(tags)$
      Tags: $tags$
    $endif$
  </section>
</article>
